body {
    color: #000;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  
}
.gray{
    height: 100vh;
    width: 100%;   
    background-color: grey;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.white{
    background-color: white;
    width: 100%;

}
.read{
  background-color: rgb(121, 37, 37);
  width: 100%;
  background-color:rgb(163, 15, 15);

     
}
.contenier{
width: 100%;
max-width: 1140px;
margin: 0 auto;
padding: 0 15px;
}
.header{
    width: 100%;
    height: 100vh;
}
.header_text{
height: 100px;
width: 100%;


}
.header-top > a {
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    
    
}
.header-top{

    height: 8vh;
    display: flex;
   justify-content: space-between;
   
   text-align: center;
   
    
    
}
a{
    text-decoration: none;
}
body {
    color: #000;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type: none;
}
.heard_menu_item{
    
    margin: 0 15px;
    transition: 0.5s;
}
.heard_menu_inner{
    display: flex;
  
}
a{
    color: white;
}
.heard_menu_item:hover{
    transition: 0.5s;
    font-size: 110%;
}
.heard_intro{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    color: white;
    font-weight: 700;
    letter-spacing: 4%;
    line-height: 60%;
    text-align: center;
    font-family: monospace;
    
}
p{
    font-size: 20px;
    color: white;
    margin: 30px 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

   
}
.btn{
    display: block;
    width: 180px;
    border: 2px solid white;
    padding: 15px 0;
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    background: transparent;
    transition: background 0.5s;
    transition-property: background;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    align-items: center;

}
.btn:hover{
    background-color: white;
    transition: 0.5s;
}
.heard_intro >a:hover{
    color: red;
    transition: 0.5s;
}
.middle{
  width: 100%;
    padding: 100px 0;
}
h2{
    color: grey;
    font-size: 20PX;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.middle_top{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;

}
.middle_line{
    height: 3px;
   width: 50px;
    border: grey solid 2px;
    margin: 30px auto; 
    
}
.line2{
    
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.middle_block1{
    
    margin:  0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 120px 0;
    


    
}
.middle_block{
    height: 200px;
    width: 300px;
    margin: 0 12px  20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.middle_heard{
    width: 90px;
    height: 90px;
    border: 2px solid grey;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
  
}
.middle_heard:hover{
    background-color: rgb(121, 37, 37);

}
.end_inner{
   width: 90%;
   height: 200px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.end_mini{
    width: 40px;
    height: 40px;
    border: solid 2px white;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    

}
.end_big{
    height: 100%;
    width: 50%;
    

    margin: 0 auto;
}   
.end_mini:hover{ 
    background-color: white;
}
.end_text{
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    
    
}




